  <div class="gameArea" width="100%" length="100%" >
    <input type="text" pattern="[A-Z]*" style="background-color: white !important">
    <canvas class="crossword" style="background-color: white !important"></canvas>
    <div class="question" width="100%" length="100%">
      <!-- <div class="previous"></div> -->
      <span class="qt">Klik op een wit blok om een woord te selecteren.</span>
      
      <div class="buttons" width="100%" length="100%"> 
        <span class="hint" title="Click For Hint"> 
          <ion-button slot="end" shape="round">
             <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
        </span>
        <ion-button (click)="resetGame()" shape="round">Reset Game</ion-button>
        <ion-button color="primary" shape="round" fill="outline" disabled="true">Points:{{leastPoints}}</ion-button>
      </div>
      <!-- <div class="next"></div> -->
    </div>
    <div class="result" width="100%" length="100%">
      <span class="qt">Klik op een wit blok om een woord te selecteren.</span>
    </div>
  </div>


