body.theme-light {
	background-color: #ededed;
  }
  
  body.theme-dark {
	background-color:  #ededed;
  }

.gameArea{
	width: 100%;
	font-size: 30px;
	height: calc(100% - 1.5em);
	text-align: center;
	vertical-align: middle;
	background-color: white !important;
	fill: white;
}

.gameArea input{
	position: absolute;
	top: -100px;
	left: -100px;
	width: 10px;
	height: 10px;
	font-size: 24px;
	z-index: 0;
	background-color: white !important;
}

.gameArea canvas {
	display: inline-block;
	background-color: white !important;
}

.gameArea .question{
	width: 100%;
	text-align: center;
	position: absolute;
	font-size: 20px;
	vertical-align: middle;
	height: 100%;;
	padding: 8px;
	color: #0e2a4b;
	background-color: white !important;
	margin-bottom: 15px;
}

.gameArea .result{
	width: 100%;
	text-align: center;
	position: absolute;
	font-size: 20px;
	vertical-align: middle;
	height: 100%;;
	padding: 8px;
	color: white;
	background-color: white !important;
}

.gameArea .question .buttons{
	text-align: center;
	position: absolute;
	font-size: 20px;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	background-color: white !important;
}

.gameArea .question .previous{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 0.8em;
	width: 0.8em;
	color: #03bbd4;
	font-size: 50px;
	cursor: pointer;
	border-right: 1px solid;
	margin-bottom: 15px;
	margin-right:10px
}

.gameArea .question .previous:after{
	content: "<";
	transform: scaleX(2.5);
	text-shadow:
	    0 2px 2px rgba(255,255,255,0.7),
    	    0 10px 4px rgba(0,0,0,0.5);
}

.gameArea .question .previous:hover:after{
  transition: all 0.2s ease;
  transform: scaleX(2.5) translateY(4px);
  text-shadow:
    0 1px 1px rgba(0,0,0,0.5);
}

.gameArea .question .next{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 0.8em;
	width: 0.8em;
	color: #03bbd4;
	font-size: 50px;
	cursor: pointer;
	border-left: 1px solid;
	margin-right:10px
}

.gameArea .question .next:after{
	content: ">";
	transform: scaleX(2.5);
	text-shadow:
	    0 2px 2px rgba(255,255,255,0.7),
    	    0 10px 4px rgba(0,0,0,0.5);
}

.gameArea .question .next:hover:after{
  transition: all 0.2s ease;
  transform: scaleX(2.5) translateY(4px);
  text-shadow:
	0 1px 1px rgba(0,0,0,0.5);
}